@import '../../static/scrollbar.scss';

.reminder_container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  max-width: 400px;
  max-height: 800px;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: top right;
  transition: 0.4s;

  @extend .scrollbar-kilter;

  &::-webkit-scrollbar-thumb {
    background: #4503c7;
    border-radius: 20px;

    background-clip: padding-box;
    border: 7px solid transparent;
  }

  .reminder {
    position: relative;
    background: rgba(24, 253, 132, 0.2);
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    border-radius: 10px;
    padding: 2em;
    font-weight: 500;
    overflow: hidden;
    overflow-y: auto;

    &__title {
      color: rgba(0, 0, 0, 0.5);
    }

    &__title {
      overflow-wrap: anywhere;
      white-space: pre-line;
      overflow-y: auto;
    }

    @extend .scrollbar-kilter;

    &.danger {
      background: #ffc8c8;
    }

    &.sky {
      background: #c8f2ff;
    }

    &.success {
      background: #18fd8433;
    }

    &.warning {
      background: #fff6c8;
    }

    & + .reminder {
      margin-top: 1em;
    }
  }
}
