.scrollbar-kilter {
  &::-webkit-scrollbar {
    width: 20px;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;

    background-clip: padding-box;
    border: 7px solid transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    background-clip: padding-box;
    border: 7px solid transparent;
  }
}

.scrollbar-kilter-done {
  &::-webkit-scrollbar-thumb {
    background: #4e03e0;
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: darken(#fbfbfb, 5);
    border-radius: 4px;
  }
}
